body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  color: #212121;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.list {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.text {
  margin-top: 0;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

header {
  border-bottom: 1px solid #ECECEC;
}

/* Site-naw */
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50 px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.site-nav__link--current {
  color: #2196F3;
}
.site-nav__link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  display: block;
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link--current:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header-contacts__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196F3;
}

.header-contacts__item + .header-contacts__item {
  margin-left: 50px;
}

.header-contacts__mail-icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__link:hover .header-contacts__mail-icon, .header-contacts__link:focus .header-contacts__mail-icon {
  fill: #2196F3;
}

.header-contacts__telephone-icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__link:hover .header-contacts__telephone-icon, .header-contacts__link:focus .header-contacts__telephone-icon {
  fill: #2196F3;
}

.clients {
  text-align: center;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: #2196F3;
}

.clients__link {
  border: 1px solid #AFB1B8;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
}

/* Command */
.section-command {
  background-color: #F5F4FA;
}

.command-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.command-set__item {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: none;
  outline: none;
}
.command-set__item:not(:last-child) {
  margin-right: 30px;
}

.command-set__card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.command-set__photo {
  display: block;
}

.command-set__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10;
}

.command-set__profession {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 0;
}

.social-icons {
  text-align: center;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 32px;
  padding-left: 32px;
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__link:hover .social-icons__icon, .social-icons__link:focus .social-icons__icon {
  fill: #ffffff;
}

.social-icons__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__link:focus, .social-icons__link:hover {
  background-color: #2196F3;
  cursor: pointer;
}

.name-command {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

/* Features */
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.features__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.features__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

.features__item {
  width: 270px;
  height: 251px;
}
.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0;
}

.footer-block {
  margin-right: 70px;
}
.footer-content .footer-block {
  display: inline-block;
}

.address-box {
  width: 231px;
  height: 81px;
}

.address-footer {
  margin-bottom: 9px;
}

address {
  font-style: normal;
}

.address-footer__address {
  color: #ffffff;
  background-color: #2F303A;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-footer__address:hover, .address-footer__address:focus {
  color: #2196F3;
}

.address-nav__mail {
  margin-bottom: 9px;
}

.address-nav__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
}

.footer-auth-text {
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-icons {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer-icons__item {
  display: inline-block;
}

.footer-icons__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons__link:hover, .footer-icons__link:focus {
  background-color: #2196F3;
}

.footer-icons__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  text-align: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons__link:hover .footer-icons__icon, .footer-icons__link:focus .footer-icons__icon {
  color: #ffffff;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero\ image.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero\ image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-size: 1600px auto;
}

.hero__title {
  color: #ffffff;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
}

.button {
  color: #ffffff;
  background-color: #2196F3;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  border: 1px solid transparent;
  margin-bottom: 0px;
  margin-top: 0px;
  min-width: 200px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__link,
.logo-footer {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__text {
  color: #2196F3;
}

.logo__text--white {
  color: #ffffff;
}

.page-footer-logo {
  margin-bottom: 20px;
  text-decoration: none;
}

.page-footer-logo_logo {
  margin-bottom: 20px;
  text-decoration: none;
  display: block;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 20;
  -webkit-transition: opacity 500ms, visibility 500ms;
  transition: opacity 500ms, visibility 500ms;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  min-height: 500px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}
.modal-close-button:focus, .modal-close-button:hover {
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
}
.close-icon:focus, .close-icon:hover {
  fill: #2196F3;
}

/* Form */
.form {
  padding: 40px;
}

.recall {
  margin-bottom: 12px;
  width: 448px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-colour);
  margin-top: 0;
  text-align: center;
  white-space: nowrap;
}

.form-field {
  position: relative;
  display: block;
}

.form-label {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}

.form-input {
  margin-bottom: 10px;
  padding: 11px 12px;
  padding-left: 42px;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #212121;
  width: 448px;
  height: 40px;
  opacity: 20%;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus, .form-input:hover {
  border: 1px solid #2196F3;
  opacity: 100%;
  cursor: pointer;
}

.form-input-feedback {
  margin-bottom: 20px;
  padding: 12px 16px;
  font-style: inherit;
  border-radius: 4px;
  border: 1px solid #212121;
  width: 448px;
  height: 120px;
  opacity: 20%;
  color: rgba(117, 117, 117, 0.5);
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-feedback:focus, .form-input-feedback:hover {
  color: #2196F3;
  border: 1px solid #2196F3;
  opacity: 100%;
  cursor: pointer;
}

.contract {
  text-decoration: underline;
  color: #2196F3;
  margin-left: 4px;
}

.label-policy {
  width: 100%;
  color: #757575;
  padding-left: 8.38px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type=checkbox] {
  position: absolute;
  left: 12px;
  /* width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; */
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 10px;
  z-index: 2;
}

.policy-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  padding-left: 12px;
  position: relative;
}

.button-send {
  background-color: #2196F3;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  min-height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button-send:hover, .button-send:focus {
  cursor: pointer;
}

.modal-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  bottom: 11px;
  display: inline-block;
  fill: v #212121;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover ~ .modal-icon, .form-input:focus ~ .modal-icon {
  fill: #2196F3;
}

.checkbox-icon {
  display: inline-block;
  width: 17px;
  height: 16px;
}
.form-checkbox:checked ~ .checkbox-icon {
  opacity: 0%;
}

.checkbox-icon-check {
  position: absolute;
  display: inline-block;
  width: 17px;
  height: 16px;
  left: 12px;
  z-index: 1;
  opacity: 0;
  fill: white;
  pointer-events: all;
  border-color: #2196F3;
  background-origin: border-box;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox:checked + .checkbox-icon-check {
  opacity: 100%;
}
.checkbox-icon-check:hover, .checkbox-icon-check:focus {
  cursor: pointer;
}

.label-footer {
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  left: 16px;
  top: 15px;
}
.input-footer:focus + .label-footer {
  visibility: hidden;
}

.footer-field {
  position: relative;
  margin-left: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.button-footer {
  background-color: #2196F3;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  min-height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  display: inline-block;
  margin-left: 12px;
  margin-top: 0px;
  padding: 10px 28px 10px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-footer {
  min-width: 358px;
  min-height: 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  margin-left: 0px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-footer:focus {
  outline: none;
}

.footer-form-text {
  margin-left: 93px;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

.text-button-send {
  margin-right: 0px;
  padding: 0px;
}

/* Work-list */
.works {
  padding: 0px 0px 94px;
}

.work-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-set__item {
  position: relative;
}
.work-set .work-set__item + .work-set__item {
  margin-left: 30px;
}
.work-set__item::before {
  content: "";
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
}

.work-set__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  left: 86px;
  bottom: 27px;
  color: #ffffff;
}

.work-set__pic {
  display: block;
}

/* Portfolio */
/* Navigation */
.portfolio-nav {
  color: #212121;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 16px;
  margin-bottom: 34px;
}

.portfolio-nav__item:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio {
  background-color: #F5F4FA;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  border: 1px solid transparent;
  display: inline-block;
  min-width: 73px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover, .button-portfolio:focus {
  background-color: #2196F3;
  color: #ffffff;
  border-radius: 4px;
  min-width: 73px;
  display: inline-block;
}

/* Work-examples */
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-top__image {
  display: block;
}

.products__item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.products__item:nth-child(3n) {
  margin-right: 0px;
}
.products__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.card {
  padding: 0;
  max-width: 370px;
  height: 404px;
  border: none;
  outline: none;
  background-color: #FFFFFF;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover, .card:focus {
  color: #212121;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-down__title {
  letter-spacing: 6%;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  font-style: inherit;
}

.card-down__product-type {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
}

p {
  margin: 0;
}

.card-top {
  position: relative;
  overflow: hidden;
}

.card-top p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: left;
  font-style: normal;
}

.card-down {
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
  text-align: left;
  max-width: 370px;
  max-height: 110px;
}

.card-overlay {
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-top:hover .card-overlay, .card-top:focus .card-overlay {
  -webkit-transform: translate(0);
          transform: translate(0);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */