/* Features */
.features {
    display: flex;
    list-style: none;
    flex-direction: column;
    
}

.features__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    @media screen and (min-width:480px){
text-align: center;        
    }
}

.features__text {
    color: $text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 0;
    margin-bottom: 0;
    @media screen and (min-width:480px) {
    text-align: center;
        }
}


.features__item {
  


    &:not(:last-child) {
        margin-right: 30px;
    }
}

.features__icon {
    width: 70px;
    height: 70px;
   }

.features__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: $background-color-button;
    margin-bottom: 30px;

@media screen and (min-width: 480px) {
        width: 450px;
    }
}