$hero-image-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
.hero {
    text-align: center;
    background-image:$hero-image-gradient, url(../images/hero\ image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width:1200px) {
    padding-top: 200px;
        padding-bottom: 200px;
    background-size: 1600px auto;
height: 600px; ;}

@media(min-device-pixel-ratio:2),(min-resolution:1dpp){
    background-image: $hero-image-gradient;
}
}
    

.hero__title {

    color: $secondary-text-color;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .06em;
    display: block;
    margin: 0;
margin-bottom: 30px;
@media screen and (min-width:1200px){
    font-size: 44px;
}
}


.button {
    color: $secondary-text-color;
    background-color: $accent-color;
    font-weight: 700;
    letter-spacing: 0.06em;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    border-radius: 4px;
    padding: 10px 32px;
    display: inline-block;
    border: 1px solid transparent;
    margin-bottom: 0px;
    margin-top: 0px;
    min-width: 200px;

    @media screen and (min-width: 480px) {
        
    }
}